# Ignore backup files
*.bak*
*.bak_*

# Ignore Node.js dependencies
node_modules/
frontend/node_modules/

# Ignore environment variables
.env
.env.*
!/.env.example

# Ignore log files
*.log

# Ignore archives
*.zip

# Ignore build output
frontend/dist/

# Ignore credentials
backend/creds.json

# Ignore PNPM files
pnpm-lock.yaml
pnpm-workspace.yaml

# Ignore Python cache
*.pyc
__pycache__/

# Ignore OS-specific files
.DS_Store

# Ignore Docker-related backup files
docker-compose.yml.bak*

# Ignore specific files
scripts_only.zip
